{% extends 'base.html' %}

{% block content %}
<form action="/record" method="post">
    <div>
        <label for="date">日付:</label>
        <input type="date" id="date" name="date" />
    </div>
    <div>
        <label for="category">種目:</label>
        <input type="text" id="category" name="category" />
    </div>
    <div>
        <label for="sets">セット数:</label>
        <input type="number" id="sets" name="sets" />
    </div>
    <div>
        <label for="reps">リピート数:</label>
        <input type="number" id="reps" name="reps" />
    </div>
    <div>
        <label for="weight">1セットあたりの重量:</label>
        <input type="number" id="weight" name="weight" />
    </div>
    <div>
        <button type="submit">記録する</button>
    </div>
</form>
{% endblock %}